.angularSubject{
    color:red;
}

.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    background-color: brown;
    height:50px;
}
li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}