<!-- <h3>String Interpolation</h3>
<p>Welcome to Chicago {{name}}!!</p>
<p>The index value 2 is {{arr[3]}}</p>
<p>{{3+5}}</p>

<h3>Event Binding</h3>
<button (click)="getSubmit()">Submit</button>

<h3>Property Binding</h3>
<input type="text" [value]="trainerName">
<img [src]="logo" alt="">

<h2>Template reference variables</h2>
<input type="text" #companyName>
<button (click)="getCompanyName(companyName.value)">Submit</button>


<h2>DEFAULT PIPES</h2>
<ul *ngFor="let item of trainee;let i=index">
    <li>{{i}}  {{item.name|uppercase}}, {{item.age}}</li>
   
</ul>
<li>{{1000|currency}}</li>
<li>{{todaysDate|date}}</li>

<H2> Structural Directives</H2>
<h2>NG IF</h2>
<p *ngIf="conditionalText"> Conditionally show me!</p>
<p *ngIf="arr.length>10">
  Array length greater than 2!
</p>


<h2>NG FOR</h2>
<ul *ngFor="let item of trainee;let i=index">
<li>{{i}}  {{item.name}}, {{item.age}}</li>
</ul>


<h2> Attribute Directives</h2>
<p [ngClass]="{angularSubject:subject.angular}"> Angular Class</p>

<h2>Lifecycle hooks</h2>


 -->
 <app-header></app-header>

 <router-outlet></router-outlet>